# Development
# See https://developers.cloudflare.com/turnstile/troubleshooting/testing/
VITE_TURNSTILE_FORM_KEY=""
VITE_TOLGEE_API_KEY=""

# Branding: set to 'false' to always use neutral branding
# VITE_USE_ELECTION_BRANDING=false

# Local JSON processing: set to 'true' to use JSON files in "public/" (development only)
# VITE_USE_LOCAL_DATA = false

# Wrangler
CLOUDFLARE_ENV=qa
